NEXT_PUBLIC_SUPABASE_URL=https://xxxx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=xxxx
SUPABASE_SERVICE_ROLE_KEY=xxxx

# MercadoPago
MP_ACCESS_TOKEN=xxxx
MP_PUBLIC_KEY=xxxx
NEXT_PUBLIC_MP_PUBLIC_KEY=xxxx

# App
NEXT_PUBLIC_BASE_URL=http://localhost:3700
NEXT_PUBLIC_PLATFORM_NAME=RifaLocal
NEXT_PUBLIC_PLATFORM_FEE=0.10

# Comisión split MP (cuenta recaudadora)
MP_COLLECTOR_ID=xxxx
